RewriteEngine on

RewriteRule ^Home index.php [NE,L]

RewriteRule ^Blog\-Details blog-details.php [NE,L]

RewriteRule ^Blog blog.php [NE,L]

RewriteRule ^Offer offer.php [NE,L]

RewriteRule ^Savings savings.php [NE,L]

RewriteRule ^Stores stores.php [NE,L]