RewriteEngine on

RewriteRule ^Home index.php [NC,L]

RewriteRule ^Blog blog.php [NC,L]

RewriteRule ^Offer offer.php [NC,L]

RewriteRule ^Savings savings.php [NC,L]

RewriteRule ^Stores stores.php [NC,L]