RewriteEngine on

RewriteRule ^Home index.php [NE,L]

RewriteRule ^Category category.php [NE,L]

RewriteRule ^Blog\-Details(.*) blog-details.php$1

RewriteRule ^Blog(.*) blog.php$1

RewriteRule ^Offer offer.php [NE,L]

RewriteRule ^Savings savings.php [NE,L]

RewriteRule ^Stores stores.php [NE,L]