RewriteEngine on

RewriteRule ^Dashboard dashboard.php [L]

RewriteRule ^Add-Category add-category.php [L]

RewriteRule ^Category category.php [L]

RewriteRule ^Add-Store add-store.php [L]

RewriteRule ^Store store.php [L]

RewriteRule ^Rating-Store store-rating.php [L]

RewriteRule ^Add-Trending-Deal add-trending-deal.php [L]

RewriteRule ^Trending-Deal trending-deal.php [L]

RewriteRule ^Add-Offer add-offer.php [L]

RewriteRule ^Offer offer.php [L]

RewriteRule ^Add-Store-Offer add-store-offer.php [L]

RewriteRule ^Store-Offer store-offer.php [L]

RewriteRule ^Add-Blog-Category add-blog-category.php [L]

RewriteRule ^Blog-Category blog-category.php [L]

RewriteRule ^Add-Blog add-blog.php [L]

RewriteRule ^Blog blog.php [L]

RewriteRule ^Newsletter newsletter.php [L]

RewriteRule ^Admin admin.php [L]

RewriteRule ^Insert insert.php [L]

RewriteRule ^Update update.php [L]

RewriteRule ^Delete delete.php [L]

RewriteRule ^Profile profile.php [L]

RewriteRule ^Login index.php [L]

RewriteRule ^Logout logout.php [L]